{% extends 'blog/base.html' %}

{% block contenido %}
<h2>Mi Perfil</h2>

<p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Biografía:</strong> {{ profile.bio }}</p>
<p><strong>Link:</strong> <a href="{{ profile.link }}">{{ profile.link }}</a></p>
<p><strong>Fecha de nacimiento:</strong> {{ profile.fecha_nacimiento }}</p>

{% if profile.avatar %}
  <img src="{{ profile.avatar.url }}" alt="Avatar" width="150">
{% endif %}

<br><br>
<a href="{% url 'edit_profile' %}">Editar Perfil</a>

{% endblock %}
