{% extends 'blog/base.html' %}

{% block contenido %}
  <h2>Listado de Posts</h2>
  
  {% if object_list %}
    <ul>
      {% for post in object_list %}
      <li>
        <a href="{% url 'post_detail' post.pk %}">{{ post.titulo }}</a>
        —
        <a href="{% url 'post_update' post.pk %}">✏️ Editar</a>
        |
        <a href="{% url 'post_delete' post.pk %}">🗑️ Borrar</a>
      </li>
      
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay publicaciones todavía.</p>
  {% endif %}
  
  <br>
  <a href="{% url 'post_create' %}">➕ Crear nuevo Post</a>
{% endblock %}
